
*{
    margin: 0px;
}
.comp{
    display: block;
}
.phone{
    display: none;
}
.hider1{
    background-image: url(./photo/image\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.bd_color{
    width: 100%;
    height: 100vh;
    background: linear-gradient(270deg, rgba(27, 30, 49, 0) 0%, rgba(27, 30, 49, 0.9) 78.13%);;
}
.hider_menu{
    display: flex;
    width: 82%;
    height: 100px;
    margin: auto;
    justify-content: space-between;
}
.aboutmenu,.aboutmenu2{
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 125%;
    color: #FFFFFF;  
    display: flex;
    align-items: center;
    gap: 70px;
}
.aboutmenu2{
    gap: 10px;
}
.border{
        border-bottom: 0.5px solid gray;
}
.text_h1{
    font-weight: 400;
    font-size: 80px;
    line-height: 75%;
    color:#FFFFFF ;
}
.info_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #e6e3e3e1;
}
.btn{ 
    font-weight: 400;
    font-size: 18px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    background-color: #60C880;
    color: #FFFFFF;
    width: 259px;
     height: 60px;
     border: none;
     border-radius: 100px;
}
.width1{
    width: 580px;
    height: auto;
}
.widthTX{
    width: 520px;
}
.about_text_hider{
    width: 65%;
    height: 723px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.imgicon{
    position: absolute;
    bottom: 110px;
    right: 190px;
}
.text{
font-weight: 400;
font-size: 60px;
line-height: 75%;
color: #3D3D3D;
}
.ab2{
    color: #3D3D3D;
    line-height: 140%;
    width: 740px;
}
.aboutflex{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section2flex{
    display: flex;
    gap: 90px;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    justify-content: space-between;
}
.icon01{
font-weight: 400;
font-size: 40px;
line-height: 75%;
color: #60C880;
display: flex;
gap: 20px;
align-items: center;
}
.Ptext
{
font-weight: 400;
color: #3D3D3D;
font-size: 36px;
line-height: 75%;
}
.ab3,.icontextflex{
    color: #3D3D3D;
    width: 850px;
    height: auto;
    font-size: 20px;
    line-height: 170%;
}
.icontextflex{
    display: flex;
    align-items: center;
    gap: 20px;
}
.t02{
    line-height: 170%;
}
.aboutflexicon{
    display: flex;
    flex-direction: column;
}
.abouttext2{
    display: flex;
    gap: 50px;
    border: 1px solid gray;
    width: 75%;
    padding: 35px;
    height: 190px;
    margin: auto;
}
.textstart{
    width: 79%;
    margin: auto;
}
.img2{
    width: 40px;
}
.section_3{
    width: 100%;
    margin-top: 70px;

}
.abouttext2{
    width: 78%;
    gap: 10px;
    padding: 10px;
    height: auto;
}
.aboutflexicon{
    width: 85%;
    font-size: 20px;
}
.icontextflex{
    width: 100%;
}
.Ptext{
  width: 60%;
  line-height: normal;
  font-size: 20px;
}
.ab3{
    font-size: 16px;
}
.coll{
    color: #60C880;
font-weight: 400;
font-size: 20px;
line-height: 80%;
letter-spacing: 0%;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
width: 79%;
margin: auto;
margin-top: 60px;
text-decoration-thickness: 0%;

}



.section_4{
    background-color:#1B1E31 ;
    width: 100%;
    height: 950px;
    margin-top: 70px;
}
.cl{
    color: #FFFFFF;
}
.clr{
    color:#3D3D3D;
}
.clr2{
    color:#3D3D3D;
    width: 310px;
}
.fontsize{
    font-size: 36px;
}
.aboutbox{
    width: 390px;
    height: 211px;
    padding: 50px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
}
.box{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;

}







.section_5{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-top: 200px;
}
.box2{
    width: 520px;
    height: auto;
}
.colorgreyy{
    background-color: #60C880;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    outline: 1px solid #D9D9D9;
    outline-offset: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}
.pracktick{
font-weight: 400;
font-size: 26px;
line-height: 75%;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;
}
.effect{
    font-size: 18px;
    color: #FFFFFF;
    width: 280px;
    margin-top: 10px;
    align-self:center;
    height: auto;
    line-height: 150%;
}
.icomZV{
    background-color: #60C880;
    width: 90px;
    height: 90px;
    outline: 1px solid #60C880;
    outline-offset: 10px;
    border-radius: 100%;
    position: absolute;
    left: -30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.person{
    position: absolute;
    top: -30%;
    left: 40%; background-color: #1B1E31;
    outline: none;
}
.wallet{
     position: absolute;
    bottom: -30%;
    left: 40%; background-color: #1B1E31;
     outline: none;
}
.messange{
     position: absolute;
    bottom: 40%;
    left: 110%; 
    background-color: #1B1E31;
     outline: none;
}



@media (max-width:510px) {
    .comp{
        display: none;
    }
    .phone{
        display: block;
    }




    .aboutmenu2{
        width: 100%;
        gap: 22px;
    }
    .bd_color{
        background: linear-gradient(0deg, rgba(27, 30, 49, 0) 0%, rgba(27, 30, 49, 0.9) 81.77%);

    }
    .hider1{
            height: 610px;

    }
    .hider_menu{
        width: 90%;
        height: 80px;
    }
    .text_h1{
        font-size: 36px;
        line-height: 80%;
        width: 95%;
    }
    .about_text_hider{
        width: 90%;
        justify-content: stretch;
        margin-top: 50px;
    }
    .width1{
        font-size: 18px;
        width: 335px;
        height: auto;
        line-height: 140%;
        color: #FFFFFF;
        font-weight: 100;
    }
    .btn{
        width:237px;
        height: 50px;
    }
.imgicon{
    position: absolute;
    bottom: 20px;
    right: 105px;
    width: 70px;
}
.section2flex{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90%;
    margin-top: 10px;
    margin: auto;
    margin-top: 50px;
}
.imgfull{
    width: 100%;
}
.aboutflex{
    width: 100%;
    gap: 20px;
}
.text{
    font-size: 46px;
}
.info_text{
    width: 100%;
    font-size: 16px;
}
.size{
    font-size: 16px;
}
.aboutbox{
    width: 80%;
    margin: auto;
    height: 170px;
    padding: 30px;
}
.box{
    flex-direction: column;
}
.section_4{
    height: auto;
    padding-bottom: 40px;
}
.section_5{
   margin-top: 40px;
   flex-direction: column;
}
.box2{
    width: 95%;
    margin: auto;
}
.colorgreyy{
    width: 211px;
    height: 211px;
    margin: auto;
    margin-top: 100px;
    outline-offset: 44px;
}
.pracktick{
    width: 100%;
    font-size: 18px;
}
.effect{
    width: 100%;
    font-size: 14px;
}
.icomZV{
    width: 50px;
    height: 50px;
     outline: none;
     left: -32%;
}
.iconpositiv{
    width: 30px;
}
.person{
    top: -32%;
    left: 40%; 
}
.wallet{
    bottom: -30%;
    left: 40%;
}
.messange{

    bottom: 40%;
    left: 109%; 

}





















}